<launch>   
    <rosparam command="load" file="$(find drive)/config/params.yaml" />
    <node name="pid" type="pid_controller.py" pkg="drive" output="screen"/> 
    <node name="controller" type="controller.py" pkg="drive" output="screen"/>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="115200"/>
    </node>
</launch>